<input type="hidden" name="id" value="<?=$this->id;?>">
<div class="form-check  mb-3">
    <input class="form-check-input" type="checkbox" value="1" name="completed" id="completed" <?=$this->checked;?>>
    <label class="form-check-label" for="completed">
        Выполнено
    </label>
</div>
