<form action="/html/task/create" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Имя</label>
        <input type="text" name="name" class="form-control" value="<?=$this->name;?>">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" name="email" class="form-control"  value="<?=$this->email;?>">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Текст задачи</label>
        <textarea name="text" class="form-control" rows="3"><?=$this->text;?></textarea>
    </div>
    <?=$this->adminform;?>
    <?php if($this->error): ?>
        <div class="alert alert-danger mt-5" role="alert">
            <?=$this->error;?>
        </div>
    <?php endif; ?>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>